[submodule "hal/stm32l4"]
	path = hal/stm32l4
	url = https://github.com/OsirisRTOS/stm32l4-hal.git
[submodule "kernel"]
	path = kernel
	url = https://github.com/OsirisRTOS/kernel.git
[submodule "hal/cortex-m"]
	path = hal/cortex-m
	url = https://github.com/OsirisRTOS/cortex-m.git
