# This is the default configuration for the STM32L4R5ZI MCU.

[env]
# Hardware Selection
OSIRIS_ARM_HAL = "stm32l4xx"
OSIRIS_ARM_STM32L4XX_VARIANT = "r5zi"

# Debugging configuration
OSIRIS_DEBUG_UART = "LPUART1"
OSIRIS_DEBUG_RUNTIMESYMBOLS = "false"

# Tuning parameters
OSIRIS_TUNING_ENABLEFPU = "false"

[build]
target = "thumbv7em-none-eabi"