on:
  push:
    branches-ignore:
      - "gh-readonly-queue/**"
  pull_request:
  merge_group:
  workflow_dispatch:

name: Osiris CI

env:
  CARGO_TERM_COLOR: always
  TERM: xterm-256color


jobs:
  container:
    name: Build Container
    runs-on: ubuntu-latest
    permissions:
      packages: write
    outputs:
      container_name: ${{ steps.set_output.outputs.container_name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set container name as output
        id: set_output
        run: |
          REPO=$(echo "${GITHUB_REPOSITORY}" | tr '[:upper:]' '[:lower:]')
          CONTAINER_NAME="ghcr.io/${REPO}/devcontainer:main"
          echo "container_name=$CONTAINER_NAME" >> $GITHUB_OUTPUT
          echo "container_without_tag=ghcr.io/${REPO}/devcontainer" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .devcontainer
          file: .devcontainer/Dockerfile
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ steps.set_output.outputs.container_name }}
          cache-from: type=registry,ref=${{ steps.set_output.outputs.container_name }}-cache
          cache-to: type=registry,ref=${{ steps.set_output.outputs.container_name }}-cache,mode=max

  test:
    name: Testing
    runs-on: ubuntu-latest
    needs: [container]
    container:
      image: ${{ needs.container.outputs.container_name }}:main
    permissions:
      contents: read
      issues: write
      pull-requests: write
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set testing config
        run: just config load test_def --no-confirm

      - name: Run test coverage
        run: just cov

      - name: Report code coverage
        uses: xarantolus/github-actions-report-lcov@v5
        with:
          coverage-files: lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
          update-comment: true

  fmt:
    name: Check formatting
    runs-on: ubuntu-latest
    needs: [container]
    container:
      image: ${{ needs.container.outputs.container_name }}:main
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Check formatting for all Cargo manifests
        run: just fmt --check

  kani:
    name: Kani verification
    runs-on: ubuntu-latest
    needs: [container]
    container:
      image: ${{ needs.container.outputs.container_name }}:main
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set testing config
        run: just config load test_def --no-confirm

      - name: Run Kani
        run: just verify

  build-stm32-l4r5zi-def:
    name: Build for the STM32 Nucleo L4R5ZI
    runs-on: ubuntu-latest
    needs: [container]
    container:
      image: ${{ needs.container.outputs.container_name }}:main
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set stm32l4r5zi config
        run: just config load stm32l4r5zi_def --no-confirm

      - name: Build
        run: just build thumbv7em-none-eabi
